{{ if .Site.Data.homepage.testimonial.enable }}
<section id="colaboracao" class="section rad-animation-group section--border-bottom">
    <div class="container">
        <h2 class="rad-fade-down">{{ .Site.Data.homepage.testimonial.title }}</h2>
        <p> O projeto também contou com a colaboração de:
        </p>
        <p> - <a href= https://cpcex-lab.rbind.io/author/renata-cavalcanti/> Renata Cavalcanti</a>, doutoranda do Departamento de Ciência Política da Universidade Federal de Pernambuco (DCP-UFPE).
          <p> - <a href= https://cpcex-lab.rbind.io/author/bhreno-vieira/> Bhreno Vieira</a>, doutorando do Departamento de Ciência Política da Universidade Federal de Pernambuco (DCP-UFPE).
          </p>
                    <!---
                    <p>Também sugerimos a pesquisa e leitura desses materiais:

                      <p><a href= http://www.structuraltopicmodel.com/> Página Oficial do STM.</a></p>
                      <p><a href= https://www.anpocs.com/index.php/bib-pt/bib-86/11215-o-texto-como-dado-desafios-e-oportunidades-para-as-ciencias-sociais/file> Texto como Dado</a></p>
                      <p><a href= "https://www.scielo.br/j/rbcsoc/a/gM7mG35jtmMBr45CNkqZKYq/?format=pdf&lang=pt"> Quais políticas importam? Usando ênfases na agenda legislativa para mensurar saliência.</a></p>
                      --->

    </div>
</section>
{{ end }}
